/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../img/login_background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.login-container {
  width: 100%;
  max-width: 600px; /* Increased size */
  background: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
  padding: 40px; /* Increased padding */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px); /* Apply blur effect */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
}

.login-container h2 {
  text-align: center;
  margin-bottom: 30px; /* Increased space between title and form */
  font-size: 28px; /* Increased font size */
  color: #333;
}

/* Form styles */
.form-group {
  margin-bottom: 20px; /* Increased margin between form fields */
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px; /* Increased space between label and input */
  font-size: 16px; /* Increased font size */
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 12px; /* Increased padding */
  font-size: 16px; /* Increased font size */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

/* Button styles */
.login-button {
  width: 100%;
  padding: 15px; /* Increased padding */
  font-size: 18px; /* Increased font size */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .login-container {
    padding: 30px; /* Adjusted padding for smaller screens */
  }

  .login-container h2 {
    font-size: 24px; /* Adjusted font size */
  }

  .form-group input {
    padding: 10px; /* Adjusted padding for smaller screens */
    font-size: 14px; /* Adjusted font size */
  }

  .login-button {
    padding: 12px; /* Adjusted padding */
    font-size: 16px; /* Adjusted font size */
  }
}

@media screen and (max-width: 480px) {
  .login-container {
    padding: 20px; /* Adjusted padding */
  }

  .login-container h2 {
    font-size: 20px; /* Adjusted font size */
  }

  .form-group input {
    padding: 8px; /* Adjusted padding */
    font-size: 14px; /* Adjusted font size */
  }

  .login-button {
    padding: 12px; /* Adjusted padding */
    font-size: 14px; /* Adjusted font size */
  }
}
